body {
    background-color: #65DBC0;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.header{
    position: fixed;
    background-color: #3D46F5;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    
}
.nav{
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 100px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px;
}
.nav-menu-link:hover{
    background-color: blueviolet;
    transition: 0.5s;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 8px;
}
aside{
    position: fixed;
    background-color: rgb(61,187,245);
    color: white;
    top: 100px;
    left: 0;
    bottom: 20px;
    width: 20%;
    padding-left: 30px;
    
    
}
section{
    position: fixed;
    overflow-y: scroll;
    background-color: #3DF5F5;
    top: 100px;
    left: 20%;
    bottom: 20px;
    width: 80%;
    padding: 10px;
       
}
footer{
    text-align: center;
    position: fixed;
    background-color: black;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
}