<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tech Shop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}" />        
            <h1>[[#{producto.existencias}]]</h1>
            <p>[[${variable}]]</p>
            <p>Su edad es: [[${edad}]]</p>
        <footer th:replace="~{layout/plantilla :: footer}" />
    </body>
</html>
